body{

margin:0;
font-family:Arial;

}


/* TOP BAR */

.top-bar{

text-align:center;
padding:8px;
background:#f5f5f5;

}



/* HERO FULL SCREEN */

.hero{

height:100vh;

background-image:url("hero.png");

background-size:cover;

background-position:center;

color:white;

position:relative;

}




/* NAVBAR */

.navbar{

position:sticky;

top:0;

background:white;

z-index:1000;

display:flex;

align-items:center;

justify-content:space-between;

padding:15px 60px;

position:sticky;

}




/* LEFT MENU */

.nav-left{

display:flex;

gap:25px;

list-style:none;

margin:0;

padding:0;

flex:1;

}



.nav-left a{

color:black;   /* FIXED COLOR */
text-decoration:none;
font-weight:bold;

}




/* LOGO CENTER */

.logo{

flex:1;

text-align:center;

}



.logo img{

height:35px;

}




/* SEARCH RIGHT */

.nav-right{

flex:1;

display:flex;

justify-content:flex-end;

}



.nav-right input{

padding:8px;

width:200px;

}

/* HERO TEXT CENTER */

.hero-text{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

text-align:center;

}


.hero-text h1{

font-size:100px;
margin:0;

}


.hero-text h2{

font-size:35px;

}


.hero-text p{

font-size:20px;

}
.shirts-section{

padding:40px;

}


/* REMOVE TITLE */

.section-title{

display:none;

}


/* SLIDER */

.shirts-slider{

display:flex;

gap:25px;

overflow-x:auto;

scroll-behavior:smooth;

}

.shirts-slider::-webkit-scrollbar{

display:none;

}


/* CARD */

.shirt-card{

min-width:300px;

position:relative;

cursor:pointer;

}


/* IMAGE */

.shirt-card img{

width:100%;

height:400px;

object-fit:cover;

}


/* NAME ON IMAGE */

.shirt-card p{

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

background:white;

padding:12px 30px;

font-size:18px;

margin:0;

}

.shirt-card img{

transition:0.4s;

}

.shirt-card:hover img{

transform:scale(1.05);

}
.promo-banner{

height:80vh;

background-image:url("banner.png");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

position:relative;

}


/* Optional dark overlay */

.promo-banner::before{

content:"";

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.3);

}


.banner-content{

position:relative;

color:white;

text-align:center;

}


.banner-content h2{

font-size:50px;

margin:0;

}


.banner-content p{

font-size:25px;

margin:10px 0;

}


.banner-content button{

padding:12px 30px;

border:none;

background:white;

cursor:pointer;

font-size:16px;

}
.category-slider-section{

padding:60px;

background:#f8f8f8;

}


/* SLIDER */

.category-slider{

display:flex;

gap:25px;

overflow-x:auto;

scroll-behavior:smooth;

}

.category-slider::-webkit-scrollbar{

display:none;

}


/* CARD */

.category-card{

min-width:300px;

position:relative;

overflow:hidden;

cursor:pointer;

}


/* IMAGE */

.category-card img{

width:100%;

height:400px;

object-fit:cover;

transition:0.5s;

}


/* ZOOM EFFECT */

.category-card:hover img{

transform:scale(1.1);

}


/* TEXT ON IMAGE */

.category-card p{

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

background:white;

padding:12px 30px;

font-size:18px;

margin:0;

}

.kids-banner{

height:80vh;

background-image:url("unnamed.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

position:relative;

}


.kids-banner::before{

content:"";

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,0.3);

}


.kids-banner-text{

position:relative;

color:white;

text-align:center;

}


.kids-banner-text h2{

font-size:50px;

margin:0;

}


.kids-banner-text p{

font-size:22px;

margin:10px 0;

}


.kids-banner-text button{

padding:12px 30px;

border:none;

background:white;

cursor:pointer;

font-size:16px;

}



.kids-category-slider{

display:flex;

gap:25px;

overflow-x:auto;

scroll-behavior:smooth;

}


.kids-category-slider::-webkit-scrollbar{

display:none;

}


.kids-category-card{

min-width:300px;

position:relative;

overflow:hidden;

cursor:pointer;

}


.kids-category-card img{

width:100%;

height:400px;

object-fit:cover;

transition:0.5s;

}


.kids-category-card:hover img{

transform:scale(1.1);

}


.kids-category-card p{

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

background:white;

padding:12px 30px;

margin:0;

}
.girls-banner{

height:80vh;

background-image:url("unnamed\ \(1\).jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

position:relative;

}


.girls-banner::before{

content:"";

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,0.3);

}


.girls-banner-text{

position:relative;

color:white;

text-align:center;

}


.girls-banner-text h2{

font-size:50px;

margin:0;

}


.girls-banner-text p{

font-size:22px;

margin:10px 0;

}


.girls-banner-text button{

padding:12px 30px;

border:none;

background:white;

cursor:pointer;

font-size:16px;

}



.girls-category-slider{

display:flex;

gap:25px;

overflow-x:auto;

scroll-behavior:smooth;

}


.girls-category-slider::-webkit-scrollbar{

display:none;

}


.girls-category-card{

min-width:300px;

position:relative;

overflow:hidden;

cursor:pointer;

}


.girls-category-card img{

width:100%;

height:400px;

object-fit:cover;

transition:0.5s;

}


.girls-category-card:hover img{

transform:scale(1.1);

}


.girls-category-card p{

position:absolute;

bottom:20px;

left:50%;

transform:translateX(-50%);

background:white;

padding:12px 30px;

margin:0;

}


