<!DOCTYPE html>
<html>
<head>

<title>Engine Clone</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/style.css">

</head>

<body>

<div class="top-bar">
Free delivery for order above RS.5000
</div>

<header class="navbar">
    <div class="menu-toggle" id="menu-toggle">
☰
</div>

<ul class="nav-left">
<li><a href="/sale">Sale</a></li>
<li><a href="/newin">New In</a></li>
<li><a href="/men">Men</a></li>
<li><a href="/women">Women</a></li>
<li><a href="/kids">Kids</a></li>
</ul>

<div class="logo">
<img src="New_Logo_Engine.svg">
</div>

<div class="nav-right">
<input type="text" placeholder="Search...">
</div>

</header>

<section class="hero">

<div class="hero-text">

<h2>END OF SEASON SALE</h2>

<h1>-50%</h1>

<p>ON EVERYTHING</p>

</div>

</section>


<section class="shirts-section">

<h2 class="section-title">Shirts</h2>

<div class="shirts-slider">

<div class="shirt-card">
<img src="shirt1.webp">
<p>SALE</p>
</div>

<div class="shirt-card">
<img src="shirt2.webp">
<p>Tops</p>
</div>

<div class="shirt-card">
<img src="shirt3.webp">
<p>Outwears</p>
</div>

<div class="shirt-card">
<img src="shirt4.webp">
<p>Shirts</p>
</div>

<div class="shirt-card">
<img src="shirt5.webp">
<p>Trousers</p>
</div>

<div class="shirt-card">
<img src="shirts6.webp">
<p>Pants</p>
</div>

<div class="shirt-card">
<img src="shirt7.webp">
<p>Sweat shirts</p>
</div>

</div>

</section>


<section class="promo-banner">

<div class="banner-content">

<h2>NEW SEASON ARRIVALS</h2>

<p>UP TO 40% OFF</p>

<button>SHOP NOW</button>

</div>

</section>


<section class="category-slider-section">

<div class="category-slider">

<div class="category-card">
<img src="Women1.webp">
<p>Shirts</p>
</div>

<div class="category-card">
<img src="Women2.webp">
<p>T-Shirts</p>
</div>

<div class="category-card">
<img src="women_slveelss_sweater.webp">
<p>Outerwear</p>
</div>

<div class="category-card">
<img src="Women_Dresses.webp">
<p>Pants</p>
</div>

<div class="category-card">
<img src="Women_Sets.webp">
<p>Hoodies</p>
</div>

<div class="category-card">
<img src="Hoodies_uppers.webp">
<p>Accessories</p>
</div>

</div>

</section>


<section class="kids-banner">

<div class="kids-banner-text">

<h2>KIDS COLLECTION</h2>

<p>Comfort Meets Style</p>

<button>SHOP KIDS</button>

</div>

</section>


<section class="kids-category-section">

<div class="kids-category-slider">

<div class="kids-category-card">
<img src="Boy_Sale1.webp">
<p>Sale</p>
</div>

<div class="kids-category-card">
<img src="Baby_Boys_Pants.webp">
<p>Pants</p>
</div>

<div class="kids-category-card">
<img src="Boy_Shirt.webp">
<p>Shirts</p>
</div>

<div class="kids-category-card">
<img src="Boys_Jackets.webp">
<p>Jackets</p>
</div>

<div class="kids-category-card">
<img src="Boys_Pants.webp">
<p>Hoodies</p>
</div>

<div class="kids-category-card">
<img src="Boys_Uppers.webp">
<p>Uppers</p>
</div>

</div>

</section>


<section class="girls-banner">

<div class="girls-banner-text">

<h2>GIRLS COLLECTION</h2>

<p>SALE ON</p>

<button>SHOP FOR GIRLS</button>

</div>

</section>


<section class="girls-category-section">

<div class="kids-category-slider">

<div class="girls-category-card">
<img src="Girl_Sale.webp">
<p>Sale</p>
</div>

<div class="girls-category-card">
<img src="Girl-dress.webp">
<p>Dress</p>
</div>

<div class="girls-category-card">
<img src="Girl_Bottoms.webp">
<p>Bottoms</p>
</div>

<div class="girls-category-card">
<img src="Girl_Dress.webp">
<p>Jackets</p>
</div>

<div class="girls-category-card">
<img src="girl-hoodies.webp">
<p>Hoodies</p>
</div>

<div class="girls-category-card">
<img src="girls_upper.webp">
<p>Uppers</p>
</div>

<div class="girls-category-card">
<img src="Baby_Girls_Sweatshirts.webp">
<p>Sweatshirts</p>
</div>

<div class="girls-category-card">
<img src="Baby_girls_pants.webp">
<p>Pants</p>
</div>

</div>

</section>


<section class="subscribe">

<div class="subscribe-container">

<img src="1.avif" class="sub-img sub-img1">

<img src="2.avif" class="sub-img sub-img2">

<img src="3.avif" class="sub-img sub-img3">

<img src="4.avif" class="sub-img sub-img4">


<div class="subscribe-content">

<h2>Stay In<br>Touch</h2>

<div class="subscribe-box">

<input type="email" placeholder="Enter email...">

<button>Join</button>

</div>

</div>

</div>


</section>

<script src="/script.js"></script>

</body>
</html>


