<!DOCTYPE html>
<html>
<head>
<title>Kids</title>
<link rel="stylesheet" href="/style.css">
<script src="/script.js"></script>
</head>

<body>

<h1>Kids Collection</h1>

<a href="/">Go Back Home</a>

</body>
</html>